<!doctype html>
<html>
<head>
	<title><?php echo SITE_TITLE; ?></title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="templates/<?php echo $config['template']; ?>/css/style.css" />
</head>
<body>

	<header>
		
		<nav>
			<a href="index.php?tour"><?php echo NAV_TOUR; ?></a> | 
			<a href="index.php?contact"><?php echo NAV_CONTACT; ?></a> | 
			<a href="index.php?legal"><?php echo NAV_LEGAL; ?></a> |
			<a href="index.php?logout"><?php echo NAV_LOGOUT; ?></a>
		</nav>
		
		<h1><a href="index.php">Lystness</a><h1>
		
	</header>
	
	<hr />
	
	<section id="content">
