
	<aside id="tags">
		<strong><?php echo HOME_TAGS; ?></strong>
		
		<ul>
			<?php echo print_tags($tags); ?>
		</ul>
		
		<div id="create-tag">
			<form action="index.php" method="GET">
				<input type="text" id="new-title" name="title" /><br />
				<input type="button" value="<?php echo HOME_CREATE_TAG; ?>" onclick="send_new_tag();" />
			</form>
		</div>
	</aside>
	
	<section id="user-home">
	
		<!-- Form to create more items. -->
		<div id="create-item">
			<form action="index.php" method="GET">
				<div class="right">
					<select id="new-deadline" name="deadline">
						<?php print_deadline_items(); ?>
					</select>

					<br />
					
					<select id="new-tag" name="tag">
						<?php print_tag_items($tags); ?>
					</select>
				
					<br />
				
					<input type="button" onclick="send_new_item();" value="<?php echo HOME_CREATE_ITEM; ?>" />
				</div>
				<div>
					<textarea id="new-desc" name="desc"></textarea>
				</div>
			</form>
		</div>
		
		<h4><?php echo HOME_TITLE; ?></h4>
		
		<ul>
			<?php print_items($items); ?>
		</ul>
		
	</section>
