
	<aside id="tags">
		<strong><?php echo HOME_TAGS; ?></strong>
		
		<ul>
			<?php echo print_tags($tags); ?>
		</ul>
	</aside>
	
	<section id="user-home">
	
		<!-- Form to create more items. -->
		<div id="create-item">
			<form action="index.php" method="GET">
				<div class="right">
					<select name="deadline">
						<?php print_deadline_items(); ?>
					</select>

					<br />
					
					<select name="tag">
						<?php print_tag_items($tags); ?>
					</select>
				
					<br />
				
					<input type="button" onclick="alert('hi');" value="Create Item" />
				</div>
				<div>
					<textarea name="desc"></textarea>
				</div>
			</form>
		</div>
		
		<h4><?php echo HOME_TITLE; ?></h4>
		
		<ul>
			<?php print_items($items); ?>
		</ul>
		
	</section>
