
	<article>
		
		<strong><?php echo LEGAL_TITLE; ?></strong>
		
		<p style="font-style: italic;">
			<?php echo LEGAL_PRETEXT; ?>
		</p>
		
		<p>
			<strong><?php echo LEGAL_GOALS_DESC; ?></strong>
			<ul>
				<li><?php echo LEGAL_GOAL_1; ?><p><?php echo LEGAL_DESC_1; ?></p></li>
				<li><?php echo LEGAL_GOAL_2; ?><p><?php echo LEGAL_DESC_2; ?></p></li>
				<li><?php echo LEGAL_GOAL_3; ?><p><?php echo LEGAL_DESC_3; ?></p></li>
				<li><?php echo LEGAL_GOAL_4; ?><p><?php echo LEGAL_DESC_4; ?></p></li>
			</ul>
		</p>
		
	</article>
