
	<article>
	
		<strong><?php echo TOUR_TITLE; ?></strong>
			<p><?php echo TOUR_INTRO; ?></p>
		
		<strong><?php echo TOUR_DESC; ?></strong>	
			<p><?php echo TOUR_DESC_DESC;?></p>
	
		<strong><?php echo TOUR_REGISTER; ?></strong>
			<p>
				<?php echo TOUR_REGISTER_DESC; ?>
				<br />
				<div style="width:484px;margin:auto;">
					<a href="templates/<?php echo $config['template']; ?>/images/lystness-guest.png" target="_blank"><img height="250px" width="484px" src="templates/<?php echo $config['template']; ?>/images/lystness-guest.png" /></a>
				</div>
			</p>
			
		<strong><?php echo TOUR_ITEM; ?></strong>
			<p>
				<?php echo TOUR_ITEM_DESC; ?>
				<br />
				<div style="width:457px;margin:auto;">
					<a href="templates/<?php echo $config['template']; ?>/images/lystness-item.png" target="_blank"><img height="165px" width="457px" src="templates/<?php echo $config['template']; ?>/images/lystness-item.png" /></a>
				</div>
			</p>
			
		<strong><?php echo TOUR_TAG; ?></strong>
			<p>
				<?php echo TOUR_TAG_DESC; ?>
				<br />
				<div style="width:458px;margin:auto;">
					<a href="templates/<?php echo $config['template']; ?>/images/lystness-tags.png" target="_blank"><img height="168px" width="458px" src="templates/<?php echo $config['template']; ?>/images/lystness-tags.png" /></a>
				</div>
			</p>
	</article>
