/**
 * Lystness
 * Adam Shannon
 * http://lystness.com
 */
 
body {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 10px;
	margin: auto;
	margin-top: 10px; 
	width: 900px;
}

header {
	/* Nothing */
}

	header h1 {
		font-family: "Helvetica", Arial;
		font-size: 2em;
		margin-left: 20px;
	}
	
		header h1 a {
			color: #000000;
			text-decoration: none;
		}

	header nav {
		float: right;
		font-size: 1.5em;
		margin-right: 10px;
	}
	
		header nav a {
			color: #000000;
			text-decoration: none;
		}
		
section#content {
	margin: 5px 10px 5px 10px;
}

	section#content h3 {
		font-family: "Helvetica", Arial;
		letter-spacing: 1px;
	}
	
	section#content p {
		
	}
	
	#loginForm {
		float: right;
		width: 45%;
	}
	
	#registerForm {
		width: 45%;
	}

/* Logged in CSS */	
aside#tags {
	float: right;
	width: 30%;
}

	aside#tags ul {
		/* */
	}
	
		aside#tags ul li {
			list-style-type: none;
		}

section#user-home {
	border-right: 1px solid #000000;
	width: 65%;
}

	section#user-home div#create-item {
		border: 0px solid #000000;
	}

	section#user-home div.right {
		float: right;
		margin-right: 10%;
	}
	
	section#user-home textarea {
		height: 50px;
		width: 325px;
	}

	section#user-home ul {
		/* */
	}
	
		section#user-home ul li {
			background-color: #EEEEEE;
			border: 1px solid #000000;
			border-radius: 5px;
			list-style-type: none;
			margin-bottom: 5px;
			padding: 3px;
			width: 95%;
		}
		
aside#tag-admins {
	float: right;
	margin-right: 10%;
}

aside#tag-members {
	/* */
}
		
footer {
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}
